@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b675eb;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 4.5rem;
}
.navbar .logo {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e7d32;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar .logo span {
  color: #66bb6a;
}
.navbar .nav a {
  margin: 0 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}
.navbar .nav a:hover {
  color: #66bb6a;
}
.header {
  padding: 1rem;
}
.header h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e7d32;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.header p {
  margin: 10px 0;
  font-family: cursive;
  font-size: 20px;
}

.header p span {
  color: #2e7d32;
  font-weight: 900;
}
.details h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e7d32;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.entries {
  background-color: #66bb6a;
  border: 2px solid black;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  width: 40%;
  margin: 30px auto;
}
